# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# Logs and data
*.log
*.pkl
.ipynb_checkpoints
notebooks/.ipynb_checkpoints/

# Local development settings
.env
.vscode/
.idea/

# Streamlit specific
.streamlit/secrets.toml

# Project specific
pricing_strategies/
visualizations/
logs/
.dist/ 